<h2>About Me</h2>
<br>
<div class="row">
  <div class="col-sm-4">
    <%= image_tag 'face.png', width: '80%' %>
  </div>
  <div class="col-sm-8">
    <h3>Hey, I'm Jack</h3>
    <p>Welcome to my blog</p>
    <p>This week I'd like to build some really awesome things by rails 4.</p>
    <p>If you'd like to follow me, find me on Twitter <%= link_to '@DotHide', 'https://twitter.com/DotHide' %>.</p>
  </div>
</div>