@import "bootstrap-sprockets";
@import "bootstrap";

// common

h2, h3 {
  margin: 0 0 10px;
}

#sider {
  margin-right: 20px;
  float: right;

  p, li{
    text-align: right;
  }
}

.page_wrapper {
  margin-top: 70px;
}

.content-wrapper {
  margin-top: 10px;
}

.header {
  margin-top: 20px;
}

.list {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}